# Code ownership is owned by the dart-tcw-code-review team.
# Update the required users in the dart-tcw-code-review group to assign members. Do not manually assign users to this file.
* @Connected2FiberTeam/q2o-code-review
