@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf");
}
@import "_base/reset";
@import "_base/typography";
@import "_abstracts/colors";
@import "_abstracts/mixins";
@import "_components/indicators";
@import "_components/badges";
@import "_components/avatars";
@import "_components/buttons";
@import "_components/forms";
@import "_components/dropdown";
@import "_components/searchInput";
@import "_components/table";
@import "_components/colorstrip";
@import "_components/breadcrumb";
@import "_components/accordian";
@import "_components/carousel";
@import "_components/navTabs";
@import "_components/simpleaccordian";
@import "_components/modal";
@import "_components/errorPages";
@import "themes/themes";
@import "_layouts/sidenav";
@import "_layouts/icontab";
@import "_layouts/filter";
@import "_layouts/locationSearch";
@import "_layouts/greybox";
@import "_layouts/listcard";
@import "_layouts/profilebar";
@import "_layouts/mappoints";
@import "_layouts/averageEdit";
@import "_layouts/buttongroups";
@import "_layouts/grids";
@import "_layouts/charts";
@import "_layouts/locationsInfo";
@import "_layouts/results_grid";
@import "_layouts/progress_bar";
@import "_layouts/advancedSearch";
@import "_layouts/media";
