<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../projects/pattern-lib/static/assets/css/main.css" />
    <title>Connect Base</title>
  </head>
  <body style="background-color: #ffffff">
    <!-- FILTERS STARTS-->
    <div class="filter">
      <div class="search">
        <input
          type="text"
          class="formInputText small rounded"
          placeholder="Search"
        />
      </div>
      <div class="filters">
        <div class="customdropdown rounded">
          <div class="dropdown">Stages</div>
          <ul class="dropdown-list">
            <li>Item 1</li>
          </ul>
        </div>
        <div class="customdropdown rounded">
          <div class="dropdown">Owners</div>
          <ul class="dropdown-list">
            <li>Item 1</li>
          </ul>
        </div>
        <div class="customdropdown rounded">
          <div class="dropdown">Accounts</div>
          <ul class="dropdown-list">
            <li>Item 1</li>
          </ul>
        </div>
        <div class="customdropdown rounded">
          <div class="dropdown">Products</div>
          <ul class="dropdown-list">
            <li>Item 1</li>
          </ul>
        </div>
        <button class="secondary-btn medium">All Filters</button>
      </div>
    </div>
    <!--FILTERS ENDS-->
  </body>
</html>
