<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../projects/pattern-lib/static/assets/css/main.css" />
    <title>Connect Base</title>
  </head>
  <body style="background-color: #ffffff">
    <!--ICON TAB STARTS-->
    <div class="icon-tab">
      <div class="download">
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/download.svg" alt="Download" />
        </button>
      </div>
      <div class="iconList">
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/table.svg" alt="table" />
        </button>
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/grid.svg" alt="grid" />
        </button>
        <button class="active">
          <img src="../../projects/pattern-lib/static/assets/icons/map.svg" alt="map" />
        </button>
      </div>
    </div>
    <!--ICON TAB ENDS-->
  </body>
</html>
