<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../projects/pattern-lib/static/assets/css/main.css" />
    <title>Connect Base</title>
  </head>
  <body style="background-color: #ffffff">
    <!-- LIST CARD ITEM STARTS-->
    <div class="list-card">
      <div class="header">
        <div class="d-flex justify-content-between mb2">
          <div class="title">Starbucks, NY</div>
          <div class="link">
            <a class="detaillink">Full Details</a>
          </div>
        </div>
        <label class="badge pending">Pending</label>
      </div>
      <div class="line"><span class="pending"></span></div>
      <div class="content">
        <div class="locations">
          <div class="title">Location</div>
          <div class="details">123 Frames St. SF, CA, USA</div>
        </div>
        <div class="type_speed">
          <span class="type">Broadband, Fiber</span>
          <img src="../../projects/pattern-lib/static/assets/icons/speed/1g.svg" alt="1G" />
          <span class="speed">1G</span>
        </div>
        <div class="amount">
          <span class="title">$11,432</span>
          <span class="mr2">MRC&nbsp;$5716</span>
          <span>NRC&nbsp;$5716</span>
        </div>
        <hr />
        <ul class="highlites">
          <li>
            <div class="icon-box">
              <img src="../../projects/pattern-lib/static/assets/icons/star.svg" alt="icon-star" />
            </div>
            <div class="content-box">
              <span>High Competition</span>
              <a>5 Providers</a>
            </div>
          </li>
          <li>
            <div class="icon-box">
              <img src="../../projects/pattern-lib/static/assets/icons/badge.svg" alt="icon-badge" />
            </div>
            <div class="content-box">
              <span>Potential Nearby</span>
              <a>12 Companies nearby</a>
            </div>
          </li>
          <li>
            <div class="icon-box">
              <img
                src="../../projects/pattern-lib/static/assets/icons/customer.svg"
                alt="icon-customer"
              />
            </div>
            <div class="content-box">
              <span>Customer</span>
              <a>Starbucks</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="actions">
        <div class="actions">
          <button>
            <img src="../../projects/pattern-lib/static/assets/icons/actions/send.svg" alt="Send" />
          </button>
          <button>
            <img src="../../projects/pattern-lib/static/assets/icons/actions/more.svg" alt="More" />
          </button>
        </div>
      </div>
    </div>
    <!--LIST CARD ITEM ENDS-->
    <!-- LIST CARD MAP ITEM STARTS-->
    <div class="list-card map-card">
      <div class="header">
        <div class="d-flex justify-content-between mb2">
          <div class="title">Starbucks, NY</div>
          <div class="link">
            <a class="detaillink">Full Details</a>
          </div>
        </div>
        <label class="badge pending">Pending</label>
      </div>
      <div class="line"><span class="pending"></span></div>
      <div class="content">
        <div class="locations">
          <div class="title">Location</div>
          <div class="details">123 Frames St. SF, CA, USA</div>
        </div>
        <div class="type_speed">
          <span class="type">Broadband, Fiber</span>
          <img src="../../projects/pattern-lib/static/assets/icons/speed/1g.svg" alt="1G" />
          <span class="speed">1G</span>
        </div>
        <div class="amount">
          <span class="title">$11,432</span>
        </div>
        <ul class="highlites">
          <li>
            <div class="content-box">
              <span>High Competition</span>
              <a>5 Providers</a>
            </div>
          </li>
          <li>
            <div class="content-box">
              <span>Potential Nearby</span>
              <a>12 Companies nearby</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="actions">
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/actions/send.svg" alt="Send" />
        </button>
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/actions/more.svg" alt="More" />
        </button>
      </div>
    </div>
    <!--LIST CARD MAP ITEM ENDS-->
    <!-- LIST CARD MAP ITEM 2 STARTS-->
    <div class="list-card map-card-2">
      <div class="header">
        <div class="d-flex justify-content-between mb2">
          <div class="title">Starbucks, NY</div>
          <div class="link">
            <a class="detaillink">Full Details</a>
          </div>
        </div>
        <label class="badge pending">Pending</label>
      </div>
      <div class="line"><span class="pending"></span></div>
      <div class="content">
        <div class="locations">
          <div class="title">Location</div>
          <div class="details">123 Frames St. SF, CA, USA</div>
        </div>
        <div class="type_speed">
          <span class="type">Broadband, Fiber</span>
          <img src="../../projects/pattern-lib/static/assets/icons/speed/1g.svg" alt="1G" />
          <span class="speed">1G</span>
        </div>
        <div class="amount">
          <span class="title">$11,432</span>
        </div>
        <ul class="highlites">
          <li>
            <div class="content-box">
              <span>High Competition</span>
              <a>5 Providers</a>
            </div>
          </li>
          <li>
            <div class="content-box">
              <span>Potential Nearby</span>
              <a>12 Companies nearby</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="actions">
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/actions/send.svg" alt="Send" />
        </button>
        <button>
          <img src="../../projects/pattern-lib/static/assets/icons/actions/more.svg" alt="More" />
        </button>
      </div>
    </div>
    <!--LIST CARD MAP ITEM 2 ENDS-->
  </body>
</html>
