
h1{
    font-size: 1.883rem;
    line-height: 100%;
    vertical-align: top;
    font-family: 'Inter-SemiBold';
}
h2{
    font-size: 1.675rem;
    line-height: 2.214rem;
    vertical-align: top;
    font-family: 'Inter-SemiBold';
}
h3{
    font-size: 1.514rem;
    line-height: 2.071rem;
    vertical-align: top;
    font-family: 'Inter-SemiBold';
}
h4{
    font-size: 1.186rem;
    line-height: 1.571rem;
    vertical-align: top;
    font-family: 'Inter-SemiBold';
}
h5{
    font-size: 1.00rem;
    line-height: 1.357rem;
    vertical-align: top;
    font-family: 'Inter-SemiBold';
}
h6{
    font-size: .9rem;
    line-height: 1.214rem;
    vertical-align: top;
    font-family: 'Inter-SemiBold';
}
body{
    font-size: .9rem;
    line-height: 1.214rem;
    font-family: 'Inter-Regular';
}
caption{
    font-size: 0.857rem;
    line-height: 1.071rem;
    font-family: 'Inter-Regular';
}
label{
    font-size: 0.787rem !important;
    line-height: 1.071rem !important;
    vertical-align: top !important;
    font-family: 'Inter-Medium';
}
a{
    font-size: 0.787rem;
    line-height: 1.071rem;
    vertical-align: top;
    font-family: 'Inter-Regular';
}