// COLOR VARIABLES

//BRAND COLORS
$primary-700 : #1476D3;
$primary-800 : #005EB8;
$primary-900 : #081F2C;

//GRAYS
$gray-200 :#FBFBFB;
$gray-300 :#F7F9FB;
$gray-400 :#E8F0F8;
$gray-500 :#E5EAED;
$gray-600 :#DEE8F1;
$gray-700 :#8FA4B0;
$gray-800 :#66757E;
$gray-900 :#2C4F63;

//ACCENT
$gold-900:#F9AD16 ;
$gold-800: #FDEAD9;
$purple-900:#B367FF;
$purple-800:#E9DDF5;
$orange-900:#FF773D;
$orange-800:#FDEAD9;
$green-900:#32C741;
$green-800:#BDF4C3;
$red-900:#CB2500;
$red-800:#DC3A16;


//WHITE
$white:#FFFFFF;

