@use "../_abstracts/colors";
.profile-bar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  position: absolute;
  right: 32px;
  top: 25px;
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .profile {
    padding-right: 0px;
    &::after {
      content: "\25BC";
      position: absolute;
      top: 12px;
      right: 4px;
      bottom: 0;
      padding: 0 1em;
      pointer-events: none;
      font-size: 7px;
      color: #8fa4b0;
      display: none;
    }
    img{
        border-radius: 20px;
        width: 28px;
        height: 28px;
    }
  }
}
